<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>StdOut.in ADMIN AREA</title>
    <%= css_link_tag(@conn, "/css/admin.css") %>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <%= js_script_tag(@conn, "/js/admin.js") %>
  </body>
</html>
